In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [22]:
#data import
returns = pd.read_pickle("../Data/returns.pkl")

In [23]:
#drop very first row
returns = returns.iloc[1:, :]

In [24]:
#sample stock
stock = '905270'

In [25]:
#time period
t = pd.to_datetime('1999-02-24')

In [26]:
#save the target (sample stock's returns upto time t)
y = returns[[stock]].loc[:t, :]
y.columns = ['Outcome']
y = y.sort_index(ascending = False)
y

             Outcome
date
1999-02-24 -0.243263
1999-02-23 -0.576744
1999-02-22  0.111753
1999-02-19  0.111878
1999-02-18  1.668246
...              ...
1990-01-09 -1.123596
1990-01-08  2.017423
1990-01-05 -2.546917
1990-01-04 -0.797872
1990-01-03 -0.835165

[2311 rows x 1 columns]

In [27]:
#shift the features
X = returns.loc[:(t + pd.DateOffset(-1)), :]
X = X.sort_index(ascending = False)
X

,905270,921795,904261,905261,916328,923024,936365,902355,912215,929813,...,9660J1,69568X,543755,77463M,29235J,131745,69487D,68157P,9110RA,292703
date,,,,,,,,,,,,,,,,,,,,,
1999-02-23,-0.576744,-1.551363,-0.504323,-0.718177,-0.132424,NaN,-2.913124,-0.444444,-1.667515,NaN,...,NaN,NaN,-0.745092,NaN,NaN,4.413908,NaN,NaN,NaN,NaN
1999-02-22,0.111753,5.019815,4.282494,0.937383,2.717539,NaN,9.575035,0.106781,2.025974,NaN,...,NaN,NaN,1.512727,NaN,NaN,-0.743955,NaN,NaN,NaN,NaN
1999-02-19,0.111878,0.000000,0.452830,-0.137294,0.000000,NaN,2.919708,0.106895,-1.521934,NaN,...,NaN,NaN,-2.225699,NaN,NaN,-2.143579,NaN,NaN,NaN,NaN
1999-02-18,1.668246,-3.155650,0.913938,1.843142,2.222244,NaN,0.735294,0.000000,0.000000,NaN,...,NaN,NaN,3.847290,NaN,NaN,-0.702811,NaN,NaN,NaN,NaN
1999-02-17,0.228007,0.903614,-1.868460,-0.367275,-4.127726,NaN,-0.366884,0.000000,-2.335748,NaN,...,NaN,NaN,0.000000,NaN,NaN,-0.697906,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990-01-09,-1.123596,-2.962370,-0.404606,-1.098524,-0.364707,-1.043478,1.639344,0.000000,0.432900,-3.293257,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-08,2.017423,-0.873016,0.000000,2.534319,0.000000,0.000000,0.000000,1.010101,0.434783,3.405405,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-05,-2.546917,1.531023,-0.372093,-1.661475,-1.079730,1.054482,-3.174603,0.487211,-0.656531,-1.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-04,-0.797872,-1.272872,2.380952,-1.634321,-0.180060,3.454545,-1.562500,0.530612,0.225108,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-03,-0.835165,-0.475059,5.000000,-0.810537,0.361421,0.000000,-3.030303,0.000000,-0.431034,-1.315789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
#concatenate outcome and features
df_full = pd.concat([X, y], axis = 1)
df_full = df_full.sort_index(ascending = False)
df_full

,905270,921795,904261,905261,916328,923024,936365,902355,912215,929813,...,69568X,543755,77463M,29235J,131745,69487D,68157P,9110RA,292703,Outcome
date,,,,,,,,,,,,,,,,,,,,,
1999-02-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.243263
1999-02-23,-0.576744,-1.551363,-0.504323,-0.718177,-0.132424,NaN,-2.913124,-0.444444,-1.667515,NaN,...,NaN,-0.745092,NaN,NaN,4.413908,NaN,NaN,NaN,NaN,-0.576744
1999-02-22,0.111753,5.019815,4.282494,0.937383,2.717539,NaN,9.575035,0.106781,2.025974,NaN,...,NaN,1.512727,NaN,NaN,-0.743955,NaN,NaN,NaN,NaN,0.111753
1999-02-19,0.111878,0.000000,0.452830,-0.137294,0.000000,NaN,2.919708,0.106895,-1.521934,NaN,...,NaN,-2.225699,NaN,NaN,-2.143579,NaN,NaN,NaN,NaN,0.111878
1999-02-18,1.668246,-3.155650,0.913938,1.843142,2.222244,NaN,0.735294,0.000000,0.000000,NaN,...,NaN,3.847290,NaN,NaN,-0.702811,NaN,NaN,NaN,NaN,1.668246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990-01-09,-1.123596,-2.962370,-0.404606,-1.098524,-0.364707,-1.043478,1.639344,0.000000,0.432900,-3.293257,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.123596
1990-01-08,2.017423,-0.873016,0.000000,2.534319,0.000000,0.000000,0.000000,1.010101,0.434783,3.405405,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.017423
1990-01-05,-2.546917,1.531023,-0.372093,-1.661475,-1.079730,1.054482,-3.174603,0.487211,-0.656531,-1.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.546917
1990-01-04,-0.797872,-1.272872,2.380952,-1.634321,-0.180060,3.454545,-1.562500,0.530612,0.225108,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.797872
1990-01-03,-0.835165,-0.475059,5.000000,-0.810537,0.361421,0.000000,-3.030303,0.000000,-0.431034,-1.315789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.835165

In [32]:
#shit outcome down 1 row
df_full['Outcome'] = df_full['Outcome'].shift(1)
df_full = df_full.iloc[1:, :]
df_full

,905270,921795,904261,905261,916328,923024,936365,902355,912215,929813,...,69568X,543755,77463M,29235J,131745,69487D,68157P,9110RA,292703,Outcome
date,,,,,,,,,,,,,,,,,,,,,
1999-02-23,-0.576744,-1.551363,-0.504323,-0.718177,-0.132424,NaN,-2.913124,-0.444444,-1.667515,NaN,...,NaN,-0.745092,NaN,NaN,4.413908,NaN,NaN,NaN,NaN,-0.243263
1999-02-22,0.111753,5.019815,4.282494,0.937383,2.717539,NaN,9.575035,0.106781,2.025974,NaN,...,NaN,1.512727,NaN,NaN,-0.743955,NaN,NaN,NaN,NaN,-0.576744
1999-02-19,0.111878,0.000000,0.452830,-0.137294,0.000000,NaN,2.919708,0.106895,-1.521934,NaN,...,NaN,-2.225699,NaN,NaN,-2.143579,NaN,NaN,NaN,NaN,0.111753
1999-02-18,1.668246,-3.155650,0.913938,1.843142,2.222244,NaN,0.735294,0.000000,0.000000,NaN,...,NaN,3.847290,NaN,NaN,-0.702811,NaN,NaN,NaN,NaN,0.111878
1999-02-17,0.228007,0.903614,-1.868460,-0.367275,-4.127726,NaN,-0.366884,0.000000,-2.335748,NaN,...,NaN,0.000000,NaN,NaN,-0.697906,NaN,NaN,NaN,NaN,1.668246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990-01-09,-1.123596,-2.962370,-0.404606,-1.098524,-0.364707,-1.043478,1.639344,0.000000,0.432900,-3.293257,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.136364
1990-01-08,2.017423,-0.873016,0.000000,2.534319,0.000000,0.000000,0.000000,1.010101,0.434783,3.405405,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.123596
1990-01-05,-2.546917,1.531023,-0.372093,-1.661475,-1.079730,1.054482,-3.174603,0.487211,-0.656531,-1.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.017423
1990-01-04,-0.797872,-1.272872,2.380952,-1.634321,-0.180060,3.454545,-1.562500,0.530612,0.225108,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.546917
1990-01-03,-0.835165,-0.475059,5.000000,-0.810537,0.361421,0.000000,-3.030303,0.000000,-0.431034,-1.315789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.797872

In [33]:
#investable universe
investable_universe = []

for col in df_full.columns:
    if ~df_full[col].isna().any():
        investable_universe.append(col)

len(investable_universe)

604

In [34]:
df_investable = df_full[investable_universe]
df_investable

,905270,921795,904261,905261,916328,936365,902355,912215,905271,921246,...,905652,701667,921509,511339,541798,906828,923298,992765,922853,Outcome
date,,,,,,,,,,,,,,,,,,,,,
1999-02-23,-0.576744,-1.551363,-0.504323,-0.718177,-0.132424,-2.913124,-0.444444,-1.667515,-2.025804,-1.684533,...,0.000000,0.172733,1.497504,-0.512821,0.810485,-1.345756,-0.727277,0.000000,0.000000,-0.243263
1999-02-22,0.111753,5.019815,4.282494,0.937383,2.717539,9.575035,0.106781,2.025974,2.259972,1.240310,...,2.058724,1.049510,-1.313629,-0.510204,3.932692,1.594155,-0.182359,-1.298701,29.166667,-0.576744
1999-02-19,0.111878,0.000000,0.452830,-0.137294,0.000000,2.919708,0.106895,-1.521934,0.188414,0.000000,...,-0.403361,-0.694444,0.827815,-1.754386,-0.280335,0.688310,-1.076628,-1.910828,-7.692308,0.111753
1999-02-18,1.668246,-3.155650,0.913938,1.843142,2.222244,0.735294,0.000000,0.000000,-4.158921,0.467290,...,0.404995,-2.702703,-2.737520,-0.250000,-0.833000,3.073388,-0.713015,0.000000,0.000000,0.111878
1999-02-17,0.228007,0.903614,-1.868460,-0.367275,-4.127726,-0.366884,0.000000,-2.335748,2.979519,-2.134146,...,0.417985,-3.425523,1.803279,0.000000,-0.826118,0.000000,-1.232676,-1.875000,0.000000,1.668246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990-01-09,-1.123596,-2.962370,-0.404606,-1.098524,-0.364707,1.639344,0.000000,0.432900,-0.999463,-1.973684,...,0.697708,0.000000,1.167253,2.127587,-1.504126,-1.796383,0.648312,0.000000,-1.448930,-1.136364
1990-01-08,2.017423,-0.873016,0.000000,2.534319,0.000000,0.000000,1.010101,0.434783,1.009554,1.672241,...,-0.692873,-6.717850,0.390918,0.713973,1.527095,-0.297825,0.000000,0.756322,0.000000,-1.123596
1990-01-05,-2.546917,1.531023,-0.372093,-1.661475,-1.079730,-3.174603,0.487211,-0.656531,1.279191,0.673401,...,0.000000,3.475670,-1.538689,2.941670,-0.757762,0.000000,1.315789,0.000000,0.000000,2.017423
1990-01-04,-0.797872,-1.272872,2.380952,-1.634321,-0.180060,-1.562500,0.530612,0.225108,-1.263035,0.677966,...,-0.688106,0.000000,1.961319,-2.158205,-2.941877,-0.885564,1.333333,0.000000,0.000000,-2.546917
1990-01-03,-0.835165,-0.475059,5.000000,-0.810537,0.361421,-3.030303,0.000000,-0.431034,0.000000,1.374570,...,0.692873,0.000000,2.409522,-2.112611,0.000000,1.498050,-0.661199,1.539626,-1.428236,-0.797872

In [35]:
def get_investable(stock, t):
    y = returns[[stock]].loc[:t, :]
    y.columns = ['Outcome']
    y = y.sort_index(ascending = False)
    
    X = returns.loc[:(t + pd.DateOffset(-1)), :]
    X = X.sort_index(ascending = False)
    
    df_full = pd.concat([X, y], axis = 1)
    df_full = df_full.sort_index(ascending = False)
    df_full['Outcome'] = df_full['Outcome'].shift(1)
    df_full = df_full.iloc[1:, :]
    
    investable_universe = []

    for col in df_full.columns:
        if ~df_full[col].isna().any():
            investable_universe.append(col)
            
    df_investable = df_full[investable_universe]
    
    return df_investable

In [37]:
get_investable("921795", t)

,905270,921795,904261,905261,916328,936365,902355,912215,905271,921246,...,905652,701667,921509,511339,541798,906828,923298,992765,922853,Outcome
date,,,,,,,,,,,,,,,,,,,,,
1999-02-23,-0.576744,-1.551363,-0.504323,-0.718177,-0.132424,-2.913124,-0.444444,-1.667515,-2.025804,-1.684533,...,0.000000,0.172733,1.497504,-0.512821,0.810485,-1.345756,-0.727277,0.000000,0.000000,3.492334
1999-02-22,0.111753,5.019815,4.282494,0.937383,2.717539,9.575035,0.106781,2.025974,2.259972,1.240310,...,2.058724,1.049510,-1.313629,-0.510204,3.932692,1.594155,-0.182359,-1.298701,29.166667,-1.551363
1999-02-19,0.111878,0.000000,0.452830,-0.137294,0.000000,2.919708,0.106895,-1.521934,0.188414,0.000000,...,-0.403361,-0.694444,0.827815,-1.754386,-0.280335,0.688310,-1.076628,-1.910828,-7.692308,5.019815
1999-02-18,1.668246,-3.155650,0.913938,1.843142,2.222244,0.735294,0.000000,0.000000,-4.158921,0.467290,...,0.404995,-2.702703,-2.737520,-0.250000,-0.833000,3.073388,-0.713015,0.000000,0.000000,0.000000
1999-02-17,0.228007,0.903614,-1.868460,-0.367275,-4.127726,-0.366884,0.000000,-2.335748,2.979519,-2.134146,...,0.417985,-3.425523,1.803279,0.000000,-0.826118,0.000000,-1.232676,-1.875000,0.000000,-3.155650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990-01-09,-1.123596,-2.962370,-0.404606,-1.098524,-0.364707,1.639344,0.000000,0.432900,-0.999463,-1.973684,...,0.697708,0.000000,1.167253,2.127587,-1.504126,-1.796383,0.648312,0.000000,-1.448930,-2.145215
1990-01-08,2.017423,-0.873016,0.000000,2.534319,0.000000,0.000000,1.010101,0.434783,1.009554,1.672241,...,-0.692873,-6.717850,0.390918,0.713973,1.527095,-0.297825,0.000000,0.756322,0.000000,-2.962370
1990-01-05,-2.546917,1.531023,-0.372093,-1.661475,-1.079730,-3.174603,0.487211,-0.656531,1.279191,0.673401,...,0.000000,3.475670,-1.538689,2.941670,-0.757762,0.000000,1.315789,0.000000,0.000000,-0.873016
1990-01-04,-0.797872,-1.272872,2.380952,-1.634321,-0.180060,-1.562500,0.530612,0.225108,-1.263035,0.677966,...,-0.688106,0.000000,1.961319,-2.158205,-2.941877,-0.885564,1.333333,0.000000,0.000000,1.531023
1990-01-03,-0.835165,-0.475059,5.000000,-0.810537,0.361421,-3.030303,0.000000,-0.431034,0.000000,1.374570,...,0.692873,0.000000,2.409522,-2.112611,0.000000,1.498050,-0.661199,1.539626,-1.428236,-1.272872