In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

In [12]:
ret = pd.read_pickle('/Users/nishb/Documents/IX/Internship/returns.pkl')
ret

,905270,921795,904261,905261,916328,923024,936365,902355,912215,929813,...,9660J1,69568X,543755,77463M,29235J,131745,69487D,68157P,9110RA,292703
date,,,,,,,,,,,,,,,,,,,,,
1990-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-03,-0.835165,-0.475059,5.000000,-0.810537,0.361421,0.000000,-3.030303,0.000000,-0.431034,-1.315789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-04,-0.797872,-1.272872,2.380952,-1.634321,-0.180060,3.454545,-1.562500,0.530612,0.225108,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-05,-2.546917,1.531023,-0.372093,-1.661475,-1.079730,1.054482,-3.174603,0.487211,-0.656531,-1.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-01-08,2.017423,-0.873016,0.000000,2.534319,0.000000,0.000000,0.000000,1.010101,0.434783,3.405405,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-05-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-05-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-05-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-05-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
for stock in ret.columns:
    ret.replace([np.inf, -np.inf], np.nan, inplace=True)
    ret[stock] = ret[stock].fillna(0)

In [14]:
ret

,905270,921795,904261,905261,916328,923024,936365,902355,912215,929813,...,9660J1,69568X,543755,77463M,29235J,131745,69487D,68157P,9110RA,292703
date,,,,,,,,,,,,,,,,,,,,,
1990-01-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1990-01-03,-0.835165,-0.475059,5.000000,-0.810537,0.361421,0.000000,-3.030303,0.000000,-0.431034,-1.315789,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1990-01-04,-0.797872,-1.272872,2.380952,-1.634321,-0.180060,3.454545,-1.562500,0.530612,0.225108,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1990-01-05,-2.546917,1.531023,-0.372093,-1.661475,-1.079730,1.054482,-3.174603,0.487211,-0.656531,-1.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1990-01-08,2.017423,-0.873016,0.000000,2.534319,0.000000,0.000000,0.000000,1.010101,0.434783,3.405405,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-24,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-05-25,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-05-26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-05-27,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2021-05-28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
ret = StandardScaler().fit_transform(ret)
ret

array([[-1.50794012e-02,  7.65588540e-04, -2.67310159e-03, ...,
        -3.47827490e-02, -3.09058504e-02, -2.84994207e-02],
       [-8.15842299e-01, -2.58060625e-01,  4.16539739e+00, ...,
        -3.47827490e-02, -3.09058504e-02, -2.84994207e-02],
       [-7.80085949e-01, -6.92732174e-01,  1.98212237e+00, ...,
        -3.47827490e-02, -3.09058504e-02, -2.84994207e-02],
       ...,
       [-1.50794012e-02,  7.65588540e-04, -2.67310159e-03, ...,
        -3.47827490e-02, -3.09058504e-02, -2.84994207e-02],
       [-1.50794012e-02,  7.65588540e-04, -2.67310159e-03, ...,
        -3.47827490e-02, -3.09058504e-02, -2.84994207e-02],
       [-1.50794012e-02,  7.65588540e-04, -2.67310159e-03, ...,
        -3.47827490e-02, -3.09058504e-02, -2.84994207e-02]])

In [29]:
pca = PCA(0.99)

In [30]:
principalComponents = pca.fit_transform(ret)

In [31]:
principalDf = pd.DataFrame(data = principalComponents)
principalDf

,0,1,2,3,4,5,6,7,8,9,...,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152
0,-0.723336,0.106629,0.034500,-0.129299,0.028785,-0.036517,0.085070,0.035406,-0.129285,0.052026,...,-0.003760,-0.000912,-0.003010,0.000737,0.005179,-0.001128,0.002286,-0.000009,0.005084,0.006015
1,-0.028777,0.131687,1.685535,1.994838,2.805317,-1.508788,-0.137164,-2.180024,-0.757796,3.131453,...,0.355257,0.528434,-0.631433,-0.479756,0.058456,-0.417681,-0.488098,0.025914,0.577581,-0.580009
2,-5.259440,6.947819,6.260678,4.882139,2.667173,-2.145928,3.621711,-3.613401,1.766423,-1.705625,...,0.359441,-1.931682,-0.551007,0.338226,-1.024670,0.437757,0.376702,0.138832,0.078928,-0.627704
3,-7.211883,8.391449,5.395765,4.396365,1.993640,-1.281805,3.971244,-1.987125,1.168989,-0.545073,...,0.954048,0.726884,0.102265,-0.297358,0.494295,0.632456,0.857906,-0.208818,0.804380,-0.916149
4,0.618216,-1.608265,-0.903425,0.270242,-1.121903,-1.490400,0.336116,-0.259371,0.256321,-1.104399,...,-0.059659,1.090024,-0.491112,-0.710174,0.455644,-0.749969,0.170257,0.658895,-0.257731,-0.139560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7909,-0.723336,0.106629,0.034500,-0.129299,0.028785,-0.036517,0.085070,0.035406,-0.129285,0.052026,...,-0.003760,-0.000912,-0.003010,0.000737,0.005179,-0.001128,0.002286,-0.000009,0.005084,0.006015
7910,-0.723336,0.106629,0.034500,-0.129299,0.028785,-0.036517,0.085070,0.035406,-0.129285,0.052026,...,-0.003760,-0.000912,-0.003010,0.000737,0.005179,-0.001128,0.002286,-0.000009,0.005084,0.006015
7911,-0.723336,0.106629,0.034500,-0.129299,0.028785,-0.036517,0.085070,0.035406,-0.129285,0.052026,...,-0.003760,-0.000912,-0.003010,0.000737,0.005179,-0.001128,0.002286,-0.000009,0.005084,0.006015
7912,-0.723336,0.106629,0.034500,-0.129299,0.028785,-0.036517,0.085070,0.035406,-0.129285,0.052026,...,-0.003760,-0.000912,-0.003010,0.000737,0.005179,-0.001128,0.002286,-0.000009,0.005084,0.006015
7913,-0.723336,0.106629,0.034500,-0.129299,0.028785,-0.036517,0.085070,0.035406,-0.129285,0.052026,...,-0.003760,-0.000912,-0.003010,0.000737,0.005179,-0.001128,0.002286,-0.000009,0.005084,0.006015