In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import talib as ta
import bt

In [2]:
volumes = pd.read_csv('Data/stock_volumes.csv', index_col = 'date', parse_dates = True)
prices = pd.read_csv('Data/stock_prices.csv', index_col = 'date', parse_dates = True)
info = pd.read_csv('Data/stock_info.csv')
sp_listings = pd.read_csv('Data/sp500_listings.csv')

In [3]:
stocks = ['AAPL', 'AMZN', 'NFLX']

info[info["MNEM"].str.contains('|'.join(stocks), na= False)]

     Instrument   MNEM     RIC          ISIN        NAME ESTAT
31       992816  @AAPL  AAPL.O  US0378331005       APPLE  ACT.
883      891399  @AMZN  AMZN.O  US0231351067  AMAZON.COM  ACT.
1023     15303X  @NFLX  NFLX.O  US64110L1061     NETFLIX  ACT.

In [4]:
aapl_df = pd.DataFrame(prices['992816']).loc['2012-05-1':'2021-05-31']
amzn_df = pd.DataFrame(prices['891399']).loc['2012-05-1':'2021-05-31']
nflx_df = pd.DataFrame(prices['15303X']).loc['2012-05-1':'2021-05-31']

In [23]:
aapl_df['AMZN'] = amzn_df
aapl_df['NFLX'] = nflx_df
full_df = aapl_df.rename(columns={"992816": "AAPL"})
full_df
df = full_df['AMZN']

In [6]:
# calculate daily returns of stocks
returns_daily = full_df.pct_change()

# resample the full dataframe to monthly timeframe
monthly_df = full_df.resample('BMS').first()

# calculate monthly returns of the stocks
returns_monthly = monthly_df.pct_change().dropna()
print(returns_monthly.tail())

                AAPL      AMZN      NFLX
date
2021-01-01  0.054514 -0.010388  0.036228
2021-02-01  0.036550  0.049033  0.030945
2021-03-01 -0.047339 -0.058853  0.021520
2021-04-01 -0.037483  0.004723 -0.020376
2021-05-03  0.077561  0.071335 -0.056190

In [29]:
pd.DataFrame(df)

               AMZN
date
2012-05-01   230.04
2012-05-02   230.25
2012-05-03   229.45
2012-05-04   223.99
2012-05-07   225.16
...             ...
2021-05-24  3244.99
2021-05-25  3259.05
2021-05-26  3265.16
2021-05-27  3230.11
2021-05-28  3223.07

[2285 rows x 1 columns]

In [30]:
df['EMA_14'] = ta.EMA(df['AMZN'], timeperiod=14)
df['EMA_50'] = ta.EMA(df['AMZN'], timeperiod=50)
df['SMA_14'] = ta.SMA(df['AMZN'], timeperiod=14)
df['SMA_50'] = ta.SMA(df['AMZN'], timeperiod=50)
df['RSI'] = ta.RSI(df['AMZN'], timeperiod=14)

KeyError: 'AMZN'

In [21]:
# def generate_features(df):
#     for col in df.columns:
#         df['EMA_14'] = ta.EMA(df[col], timeperiod=14)
#         df['EMA_50'] = ta.EMA(df[col], timeperiod=50)
#         df['SMA_14'] = ta.SMA(df[col], timeperiod=14)
#         df['SMA_50'] = ta.SMA(df[col], timeperiod=50)
#         df['RSI'] = ta.RSI(df[col], timeperiod=14)
#         print(df)

In [22]:
generate_features(full_df)

                AAPL     AMZN      NFLX      EMA_14      EMA_50      SMA_14  \
date
2012-05-01   20.7903   230.04   11.6229         NaN         NaN         NaN
2012-05-02   20.9278   230.25   11.7471         NaN         NaN         NaN
2012-05-03   20.7793   229.45   10.8529         NaN         NaN         NaN
2012-05-04   20.1875   223.99   10.4493         NaN         NaN         NaN
2012-05-07   20.3385   225.16   10.4929         NaN         NaN         NaN
...              ...      ...       ...         ...         ...         ...
2021-05-24  127.1000  3244.99  502.8999  126.988075  128.009201  126.546429
2021-05-25  126.9000  3259.05  501.3401  126.976332  127.965703  126.460714
2021-05-26  126.8500  3265.16  502.3601  126.959488  127.921950  126.254286
2021-05-27  125.2800  3230.11  503.8601  126.735556  127.818344  125.902143
2021-05-28  124.6100  3223.07  502.8101  126.452149  127.692526  125.742143

              SMA_50        RSI
date
2012-05-01       NaN        NaN
2012-05-02       NaN        NaN
2012-05-03       NaN        NaN
2012-05-04       NaN        NaN
2012-05-07       NaN        NaN
...              ...        ...
2021-05-24  127.7241  48.301670
2021-05-25  127.7823  47.863581
2021-05-26  127.8079  47.746988
2021-05-27  127.8183  44.113282
2021-05-28  127.8999  42.622538

[2285 rows x 8 columns]
                AAPL     AMZN      NFLX       EMA_14       EMA_50  \
date
2012-05-01   20.7903   230.04   11.6229          NaN          NaN
2012-05-02   20.9278   230.25   11.7471          NaN          NaN
2012-05-03   20.7793   229.45   10.8529          NaN          NaN
2012-05-04   20.1875   223.99   10.4493          NaN          NaN
2012-05-07   20.3385   225.16   10.4929          NaN          NaN
...              ...      ...       ...          ...          ...
2021-05-24  127.1000  3244.99  502.8999  3248.939157  3254.428171
2021-05-25  126.9000  3259.05  501.3401  3250.287270  3254.609419
2021-05-26  126.8500  3265.16  502.3601  3252.270300  3255.023167
2021-05-27  125.2800  3230.11  503.8601  3249.315594  3254.046180
2021-05-28  124.6100  3223.07  502.8101  3245.816181  3252.831428

                 SMA_14     SMA_50        RSI
date
2012-05-01          NaN        NaN        NaN
2012-05-02          NaN        NaN        NaN
2012-05-03          NaN        NaN        NaN
2012-05-04          NaN        NaN        NaN
2012-05-07          NaN        NaN        NaN
...                 ...        ...        ...
2021-05-24  3232.103571  3248.2904  48.172664
2021-05-25  3231.282857  3251.8378  49.577056
2021-05-26  3228.339286  3255.3038  50.208486
2021-05-27  3223.946429  3257.1914  46.603165
2021-05-28  3226.273571  3261.0930  45.890381

[2285 rows x 8 columns]
                AAPL     AMZN      NFLX      EMA_14      EMA_50      SMA_14  \
date
2012-05-01   20.7903   230.04   11.6229         NaN         NaN         NaN
2012-05-02   20.9278   230.25   11.7471         NaN         NaN         NaN
2012-05-03   20.7793   229.45   10.8529         NaN         NaN         NaN
2012-05-04   20.1875   223.99   10.4493         NaN         NaN         NaN
2012-05-07   20.3385   225.16   10.4929         NaN         NaN         NaN
...              ...      ...       ...         ...         ...         ...
2021-05-24  127.1000  3244.99  502.8999  497.471831  511.966199  493.687843
2021-05-25  126.9000  3259.05  501.3401  497.987600  511.549489  494.063557
2021-05-26  126.8500  3265.16  502.3601  498.570600  511.189121  494.264279
2021-05-27  125.2800  3230.11  503.8601  499.275867  510.901708  494.265707
2021-05-28  124.6100  3223.07  502.8101  499.747098  510.584390  495.417150

                SMA_50        RSI
date
2012-05-01         NaN        NaN
2012-05-02         NaN        NaN
2012-05-03         NaN        NaN
2012-05-04         NaN        NaN
2012-05-07         NaN        NaN
...                ...        ...
2021-05-24  516.887994  49.286577
2021-05-25  516.509796  48.372321
2021-05-26  516.076398  49.038055
2021-05-27  515.664802  50.057962
2021-05-28  515.625204  49.313972

[2285 rows x 8 columns]
                AAPL     AMZN      NFLX      EMA_14      EMA_50      SMA_14  \
date
2012-05-01   20.7903   230.04   11.6229         NaN         NaN         NaN
2012-05-02   20.9278   230.25   11.7471         NaN         NaN         NaN
2012-05-03   20.7793   229.45   10.8529         NaN         NaN         NaN
2012-05-04   20.1875   223.99   10.4493         NaN         NaN         NaN
2012-05-07   20.3385   225.16   10.4929         NaN         NaN         NaN
...              ...      ...       ...         ...         ...         ...
2021-05-24  127.1000  3244.99  502.8999  503.271834  522.229991  513.266386
2021-05-25  126.9000  3259.05  501.3401  502.567269  521.458904  511.688839
2021-05-26  126.8500  3265.16  502.3601  502.034380  520.697158  510.194156
2021-05-27  125.2800  3230.11  503.8601  501.666578  519.950861  508.788311
2021-05-28  124.6100  3223.07  502.8101  501.410648  519.223794  507.494655

                SMA_50        RSI
date
2012-05-01         NaN        NaN
2012-05-02         NaN        NaN
2012-05-03         NaN        NaN
2012-05-04         NaN        NaN
2012-05-07         NaN        NaN
...                ...        ...
2021-05-24  524.291002  10.042063
2021-05-25  523.685123   9.674556
2021-05-26  523.094773   9.394518
2021-05-27  522.519267   9.196649
2021-05-28  521.964437   9.053751

[2285 rows x 8 columns]
                AAPL     AMZN      NFLX      EMA_14      EMA_50      SMA_14  \
date
2012-05-01   20.7903   230.04   11.6229         NaN         NaN         NaN
2012-05-02   20.9278   230.25   11.7471         NaN         NaN         NaN
2012-05-03   20.7793   229.45   10.8529         NaN         NaN         NaN
2012-05-04   20.1875   223.99   10.4493         NaN         NaN         NaN
2012-05-07   20.3385   225.16   10.4929         NaN         NaN         NaN
...              ...      ...       ...         ...         ...         ...
2021-05-24  127.1000  3244.99  502.8999  525.780954  526.257012  526.674544
2021-05-25  126.9000  3259.05  501.3401  525.204681  526.068851  526.645016
2021-05-26  126.8500  3265.16  502.3601  524.603678  525.858197  526.592458
2021-05-27  125.2800  3230.11  503.8601  523.983302  525.626536  526.516561
2021-05-28  124.6100  3223.07  502.8101  523.348701  525.375449  526.417248

                SMA_50        RSI
date
2012-05-01         NaN        NaN
2012-05-02         NaN        NaN
2012-05-03         NaN        NaN
2012-05-04         NaN        NaN
2012-05-07         NaN        NaN
...                ...        ...
2021-05-24  523.973935  71.107925
2021-05-25  524.147165  64.152868
2021-05-26  524.305457  57.385627
2021-05-27  524.448830  51.012699
2021-05-28  524.577357  45.158894

[2285 rows x 8 columns]
                AAPL     AMZN      NFLX      EMA_14      EMA_50      SMA_14  \
date
2012-05-01   20.7903   230.04   11.6229         NaN         NaN         NaN
2012-05-02   20.9278   230.25   11.7471         NaN         NaN         NaN
2012-05-03   20.7793   229.45   10.8529         NaN         NaN         NaN
2012-05-04   20.1875   223.99   10.4493         NaN         NaN         NaN
2012-05-07   20.3385   225.16   10.4929         NaN         NaN         NaN
...              ...      ...       ...         ...         ...         ...
2021-05-24  127.1000  3244.99  502.8999  526.112446  521.201687  526.244245
2021-05-25  126.9000  3259.05  501.3401  526.183456  521.415151  526.329957
2021-05-26  126.8500  3265.16  502.3601  526.237989  521.618183  526.400384
2021-05-27  125.2800  3230.11  503.8601  526.275132  521.810276  526.454206
2021-05-28  124.6100  3223.07  502.8101  526.294081  521.990942  526.490219

                SMA_50    RSI
date
2012-05-01         NaN    NaN
2012-05-02         NaN    NaN
2012-05-03         NaN    NaN
2012-05-04         NaN    NaN
2012-05-07         NaN    NaN
...                ...    ...
2021-05-24  520.292621  100.0
2021-05-25  520.628797  100.0
2021-05-26  520.954545  100.0
2021-05-27  521.269429  100.0
2021-05-28  521.573017  100.0

[2285 rows x 8 columns]
                AAPL     AMZN      NFLX      EMA_14      EMA_50      SMA_14  \
date
2012-05-01   20.7903   230.04   11.6229         NaN         NaN         NaN
2012-05-02   20.9278   230.25   11.7471         NaN         NaN         NaN
2012-05-03   20.7793   229.45   10.8529         NaN         NaN         NaN
2012-05-04   20.1875   223.99   10.4493         NaN         NaN         NaN
2012-05-07   20.3385   225.16   10.4929         NaN         NaN         NaN
...              ...      ...       ...         ...         ...         ...
2021-05-24  127.1000  3244.99  502.8999  517.751377  510.302804  517.824876
2021-05-25  126.9000  3259.05  501.3401  518.135033  510.707745  518.214916
2021-05-26  126.8500  3265.16  502.3601  518.510968  511.109580  518.597254
2021-05-27  125.2800  3230.11  503.8601  518.878763  511.508006  518.971487
2021-05-28  124.6100  3223.07  502.8101  519.237997  511.902712  519.337205

                SMA_50    RSI
date
2012-05-01         NaN    NaN
2012-05-02         NaN    NaN
2012-05-03         NaN    NaN
2012-05-04         NaN    NaN
2012-05-07         NaN    NaN
...                ...    ...
2021-05-24  509.963307  100.0
2021-05-25  510.378936  100.0
2021-05-26  510.794731  100.0
2021-05-27  511.210285  100.0
2021-05-28  511.625179  100.0

[2285 rows x 8 columns]
                AAPL     AMZN      NFLX  EMA_14     EMA_50  SMA_14  SMA_50  \
date
2012-05-01   20.7903   230.04   11.6229     NaN        NaN     NaN     NaN
2012-05-02   20.9278   230.25   11.7471     NaN        NaN     NaN     NaN
2012-05-03   20.7793   229.45   10.8529     NaN        NaN     NaN     NaN
2012-05-04   20.1875   223.99   10.4493     NaN        NaN     NaN     NaN
2012-05-07   20.3385   225.16   10.4929     NaN        NaN     NaN     NaN
...              ...      ...       ...     ...        ...     ...     ...
2021-05-24  127.1000  3244.99  502.8999   100.0  99.998208   100.0   100.0
2021-05-25  126.9000  3259.05  501.3401   100.0  99.998278   100.0   100.0
2021-05-26  126.8500  3265.16  502.3601   100.0  99.998345   100.0   100.0
2021-05-27  125.2800  3230.11  503.8601   100.0  99.998410   100.0   100.0
2021-05-28  124.6100  3223.07  502.8101   100.0  99.998473   100.0   100.0

                  RSI
date
2012-05-01        NaN
2012-05-02        NaN
2012-05-03        NaN
2012-05-04        NaN
2012-05-07        NaN
...               ...
2021-05-24  99.989425
2021-05-25  99.989478
2021-05-26  99.989530
2021-05-27  99.989581
2021-05-28  99.989631

[2285 rows x 8 columns]